html, body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    line-height: 1.5;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.container, body {
    margin: 0 auto;
    padding: 0px;
    max-width: 1200px;
    box-sizing: border-box;
}

.title {
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 25px;
}

.description {
    font-size: 16px;
    margin-bottom: 30px;
}

.divider {
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 35px;
}

.divider2 {
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 60px;
}

/* ê¸°ë³¸ ë²„íŠ¼ ìŠ¤íƒ€ì¼ */
.btn {
    font-size: 18px;
    padding: 10px 30px;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "IBM Plex Sans KR", sans-serif;
    transition: background-color 0.4s, color 0.4s;
    white-space: nowrap;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* "ì˜¨ë¼ì¸ ì„¸ìƒì—ì„œ ì´ì•¼ê¸° ë§Œë“¤ëŸ¬ê°€ê¸°" ë²„íŠ¼ ìŠ¤íƒ€ì¼ */
.main-btn {
    font-size: 18px;
    padding: 10px 50px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "IBM Plex Sans KR", sans-serif;
    transition: background-color 0.4s, color 0.4s;
    white-space: nowrap;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%; /* í™”ë©´ì— ê½‰ ì°¨ë„ë¡ ì„¤ì • */
    box-sizing: border-box; /* íŒ¨ë”©ê³¼ í…Œë‘ë¦¬ë¥¼ í¬í•¨í•˜ì—¬ í¬ê¸° ì¡°ì • */
}

.btn:focus {
    outline: none;
}

/* "ì˜¨ë¼ì¸ ì„¸ìƒì—ì„œ ì´ì•¼ê¸° ë§Œë“¤ëŸ¬ê°€ê¸°" ë²„íŠ¼ í˜¸ë²„ ìŠ¤íƒ€ì¼ */
.main-btn:hover {
    background-color: black;
    color: white;
}

/* ì¶”ê°€ ë²„íŠ¼ë“¤ ìƒ‰ìƒ ì„¤ì • */
#btn-5floor:hover {
    background-color: rgb(255, 119, 0);
    color: white;
}

#btn-nerdyblue:hover {
    background-color: rgb(25, 128, 212);
    color: white;
}

#btn-piloti:hover {
    background-color: rgb(189, 189, 189);
    color: black;
}

#btn-park:hover {
    background-color: rgb(124, 203, 82);
    color: black;
}

#btn-hoeigi:hover {
    background-color: rgb(39, 63, 143);
    color: white;
}

#btn-dorm:hover {
    background-color: rgb(145, 123, 102);
    color: white;
}

.additional-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.ibm-plex-sans-kr-regular {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 600px) {
    .container, body {
        padding: 0 8px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 16px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .main-btn {
        padding: 8px 16px;
        font-size: 16px;
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%; /* í™”ë©´ì— ê½‰ ì°¨ë„ë¡ ì„¤ì • */
    }

    .additional-buttons {
        flex-direction: column;
    }

    .onion-icon {
        margin-top: 5px;
        width: 80px;
        height: 80px;
    }

    .title {
        font-size: 30px;
    }

    .description {
        font-size: 14px;
    }

    .popup-content {
        margin: 20% auto;
        padding: 20px;
        width: 90%;
        max-width: 400px;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .onion-button {
        margin-top: 10px;
    }
}

/* ì¶”ê°€ëœ CSS */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    margin-top: 60px;
}

.header-container h1 {
    font-size: 43px;
    margin-top: 0;
    margin-bottom: 10px;
}

.onion-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.onion-icon {
    width: 80px;
    height: 80px;
    margin-top: 45px;
    margin-left: 30px;
}

.onion-button:hover .onion-icon {
    content: url('images/realO.png');
}

/* íŒì—… ì°½ ìŠ¤íƒ€ì¼ */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup-content {
    position: relative;
    margin: 10% auto;
    padding: 15px;
    width: 50%;
    max-width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup-content p {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    position: absolute;
    margin-right: 7px;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* ì´ë¯¸ì§€ ê·¸ë£¹ ìŠ¤íƒ€ì¼ */
.image-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.image-group img {
    width: 100%;
    height: auto;
    display: block;
}
