body {
    margin: 50px;
    padding: 0;
    background-color: #f5f5f5;
    line-height: 1.5; /* 행간격을 1.5로 설정 */
}

.title {
    font-size: 40px;
    margin-bottom: 25px;
}

.description {
    font-size: 15px;
    margin-bottom: 30px;
}

.divider {
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 30px;
}

.btn {
    font-size: 18px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Gowun Dodum', sans-serif;
    transition: background-color 0.4s, color 0.4s;
    white-space: nowrap;
    margin-right: 10px;
    margin-bottom: 20px;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-color: black;
    color: white;
}

.btn:active {
    background-color: white;
    color: black;
}

.main-btn {
    margin-bottom: 30px;
}

.additional-btn {
    background-color: black;
    color: white;
}

.additional-btn:hover {
    background-color: white;
    color: black;
}

.additional-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gowun-dodum {
    font-family: 'Gowun Dodum', sans-serif;
}

@media (max-width: 600px) {
    .btn {
        padding: 8px 16px;
        font-size: 16px;
    }
}
