html, body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    line-height: 1.5; /* 행간격을 1.5로 설정 */
    background-image: url('images/background.png');
    background-size: cover; /* 이미지가 전체 화면을 덮도록 함 */
    background-position: center; /* 이미지를 중앙에 위치시킴 */
    background-repeat: no-repeat; /* 이미지가 반복되지 않도록 함 */
    box-sizing: border-box;
}

.container, body {
    margin: 0 auto;
    padding: 0px;
    max-width: 1200px;
    box-sizing: border-box;
}

.title {
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 25px;
}

.description {
    font-size: 16px;
    margin-bottom: 30px;
}

.divider {
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 35px;
}
.divider2 {
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 60px;
}

.btn {
    font-size: 18px;
    padding: 10px 50px;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "IBM Plex Sans KR", sans-serif;
    transition: background-color 0.4s, color 0.4s;
    white-space: nowrap;
    margin-right: 20px;
    margin-bottom: 20px;
}

.btn:focus {
    outline: none;
}

/* "온라인 세상에서 이야기 만들러가기" 버튼 설정 */
.main-btn {
    background-color: white;
    color: black;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 600px;
}

.main-btn:hover {
    background-color: black;
    color: white;
}

/* 추가 버튼들 색상 설정 */
#btn-5floor:hover {
    background-color: rgb(255, 119, 0);
    color: white;
}

#btn-nerdyblue:hover {
    background-color: rgb(25, 128, 212);
    color: white;
}

#btn-piloti:hover {
    background-color: rgb(189, 189, 189);
    color: black;
}

#btn-park:hover {
    background-color: rgb(124, 203, 82);
    color: black;
}

#btn-hoeigi:hover {
    background-color: rgb(39, 63, 143);
    color: white;
}

#btn-dorm:hover {
    background-color: rgb(145, 123, 102);
    color: white;
}

.additional-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.ibm-plex-sans-kr-regular {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 600px) {
    .container, body {
        padding: 0 8px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 16px;
        margin-right: 0; /* 버튼 간격 제거 */
        margin-bottom: 10px; /* 버튼 간격 조정 */
    }

    .additional-buttons {
        flex-direction: column; /* 버튼들을 세로로 정렬 */
    }

    .onion-icon {
        margin-top: 5px;
        width: 80px;
        height: 80px;
    }

    .title {
        font-size: 30px;
    }

    .description {
        font-size: 14px;
    }

    .popup-content {
        margin: 20% auto;
        padding: 20px;
        width: 90%;
        max-width: 400px;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .onion-button {
        margin-top: 10px; /* 제목과 아이콘 사이의 간격 추가 */
    }
}

/* 추가된 CSS */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; /* 배경 투명하게 설정 */
    margin-top: 60px; /* Add some margin to move it down */
}

.header-container h1 {
    font-size: 48px; /* Increase font size */
    margin-top: 0; /* Remove any top margin */
    margin-bottom: 10px; /* Adjust bottom margin if needed */
}

.onion-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.onion-icon {
    width: 80px;
    height: 80px;
    margin-top: 45px;
    margin-left: 30px; /* 텍스트와 아이콘 사이의 간격 */
}

.onion-button:hover .onion-icon {
    content: url('images/real.png');
}

/* 팝업 창 스타일 */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup-content {
    position: relative;
    margin: 10% auto;
    padding: 15px;
    width: 50%;
    max-width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup-content p {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 13px; /* 글자 크기 조정 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    position: absolute;
    margin-right: 7px;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* 이미지 그룹 스타일 */
.image-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px; /* 이미지 사이의 간격 */
    margin-top: 20px; /* 이미지 그룹과 기존 요소 간의 간격 조절 */
}

.image-group img {
    width: 100%;
    height: auto;
    display: block;
}
